global
    daemon
    maxconn 1000000
    log /dev/log local0
    tune.ssl.cachesize 1000000
    tune.ssl.default-dh-param 2048

defaults
    # refer to the global log definition
    log global
    # disable logging of normal, successful connections
    option dontlog-normal
    mode http
    # Enable logging of HTTP request, session state and timers
    option httplog

listen stats
   bind {{ salt['network.interface_ip']('vtnet1') }}:14567
   stats enable
   stats uri /stats

frontend http-in
    bind *:80
    bind *:443 ssl crt /usr/local/etc/letsencrypt/live/{{ grains['fqdn'] }}/{{ grains['fqdn'] }}.pem
    redirect scheme https if !{ ssl_fc }
    default_backend servers
    http-request deny if { path -i -m beg /_utils }
    http-request deny if { path -i -m beg /_active_tasks }
    http-request deny if { path -i -m beg /_all_dbs }
    http-request deny if { path -i -m beg /_dbs_info }
    http-request deny if { path -i -m beg /_cluster_setup }
    http-request deny if { path -i -m beg /_db_updates }
    http-request deny if { path -i -m beg /_membership }
    http-request deny if { path -i -m beg /_replicate }
    http-request deny if { path -i -m beg /_scheduler }
    http-request deny if { path -i -m beg /_node }
    http-request deny if { path -i -m beg /_up }
    http-request deny if { path -i -m beg /_uuids }
    http-request deny if { path -i -m beg /favicon }

backend servers
    {% for address in salt['mine.get']('G@roles:couchdb and not G@roles:haproxy', 'private_ip', tgt_type='compound').items() %}server couchdb{{ loop.index }} {{ address[1] }}:5984 maxconn 500 check on-marked-down shutdown-sessions
    {% endfor %}
