global
    daemon
    maxconn 1000

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:80
    bind *:443 ssl crt /usr/local/etc/letsencrypt/live/{{ grains['fqdn'] }}/{{ grains['fqdn'] }}.pem
    redirect scheme https if !{ ssl_fc }
    default_backend servers
    http-request deny if { path -i -m beg /_utils }
    http-request deny if { path -i -m beg /_active_tasks }
    http-request deny if { path -i -m beg /_all_dbs }
    http-request deny if { path -i -m beg /_dbs_info }
    http-request deny if { path -i -m beg /_cluster_setup }
    http-request deny if { path -i -m beg /_db_updates }
    http-request deny if { path -i -m beg /_membership }
    http-request deny if { path -i -m beg /_replicate }
    http-request deny if { path -i -m beg /_scheduler }
    http-request deny if { path -i -m beg /_node }
    http-request deny if { path -i -m beg /_up }
    http-request deny if { path -i -m beg /_uuids }
    http-request deny if { path -i -m beg /favicon }

backend servers
    {% for address in salt['mine.get']('roles:couchdb', 'network.interface_ip', 'grains') %}
    server couchdb1{{ loop.index }} {{ address }}:5984 maxconn 500
    {% endfor %}