IPF="ipfw -q add"
ipfw -q -f flush

# stateful
$IPF 50 check-state
$IPF 60 allow tcp from any to any established
$IPF 70 allow all from any to any out keep-state
$IPF 80 allow icmp from any to any

# all ports open
$IPF 110 allow tcp from any to any
$IPF 111 allow tcp to any from any
